#slider {
  display: none;
}

.intro {
  width: 100%;
  height: 100%;
}

#waehleSeite {
  display: none;
  margin-left: 80px;
  margin-top: 200px;
}

#waehleSeite video {
  float: left;
  height: 500px;
  width: 500px;
  border-radius: 20px;
  padding: 10px;
}

.name1 {
  color:darkmagenta;
  position: absolute;
  top: 0px;
  right: 780px;
  left: 635px;
}

.name2 {
  color:darkmagenta;
  position: absolute;
  top: 300px;
  right: 0px;
  left: 1400px;
}

.name3 {
  color:darkmagenta;
  position: absolute;
  bottom: 0px;
  right: 780px;
  left: 635px;
}

.name4 {
  color:darkmagenta;
  position: absolute;
  top: 300px;
  left: 0px;
  right: 1415px;
}

h3 {
  font-weight: bold;
  display: inline;
}

h4 {
  float: right;
}

.background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -10;
}

#welcomeBackground {
  display: none;
  background-image: url("Todesstern.png");
  background-repeat: no-repeat;
  background-size: cover;
}

#gameBackground {
  display: none;
}

#welcome {
  display: none;
  text-align: center;
  margin-top: 300px;
}

#startGame {
  display: none;
}

#endgame {
  display: none;
}

.gameBackgroundHell {
  display: none;
  background-image: url("Droiden.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.gameBackgroundDunkel {
  display: none;
  background-image: url("DunkleSeiteArena.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}


.modal-content {
  text-align: center;
  font-size: 2.5em;
  font-weight: bold;
  color: aliceblue;
  border-radius: 20px;
  top: 150px;
  padding-left: 10px;
  padding-top: 280px;
  padding-right: 10px;
  padding-bottom: 10px;
  background-image: url("Palpatin.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

button {
  background-image: url("StarWarsLogo2.jpg");
  border-radius: 10px;
  padding: 10px;
}

#startGame {
  display: none;
}

.input-group {
  width: 400px;
  margin: auto;
}

.highlight {
  transform: scale(1.5, 1.5);
}

.color {
  background-image: url("Sternenzerstörer.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  padding: 10px;
  color: blanchedalmond;
}

.playground .list-inline {
  display: none;
  text-align: center;
  position: absolute;
  left: 750px;
  top: 300px;
}

.players {
  margin-top: 80px;
  padding-right: 350px;

}

.playground .list-inline-item>img {
  border-radius: 10px;
  height: 200px;
  width: 130px;
}

.players .list-inline {
  clear: both;
}

.players .list-inline-item>img {
  border-radius: 10px;
  height: 100px;
  width: 65px;
}

.wildColor {
  display: none;
  background-image: url("Eisplanet.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  padding: 10px;
  color: rgb(54, 10, 248);
  font-weight: bold;
  font-size: 1.7em;
  text-align: center;
  margin-top: 337px;
  margin-left: 700px;
  margin-right: 865px;


}

.restart {
  color: blanchedalmond;
  font-weight: bold;
  margin-top: 140px;
  margin-left: 340px;
  background-image: url("StarWarsLogo2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  padding-left: 10px;
  padding-top: 17px;
  padding-right: 10px;
  padding-bottom: 10px;
}

.restart2 {
  color: blanchedalmond;
  font-weight: bold;
  margin-top: 220px;
  background-image: url("StarWarsLogo2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  padding-left: 10px;
  padding-top: 20px;
  padding-right: 10px;
  padding-bottom: 15px;
}

.scores {
  color: blanchedalmond;
  font-weight: bold;
  text-align: center;
  margin-top: 40px;
  margin-left: 600px;
  margin-right: 600px;
  background-image: url("Palpatin2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 300px;
}

/* Animationen */
#slider {
  position: absolute;
  border-radius: 50%;
  width: 500px;
  height: 250px;
  transform: translate(-500px, 500px);
  -webkit-transform: translate(-500px, 500px);
}

.slide-in {
  animation: slide-in 10s forwards;
  -webkit-animation: slide-in 10s forwards;
}

@keyframes slide-in {
  100% {
    transform: translate(2000px);
  }
}

@-webkit-keyframes slide-in {
  100% {
    -webkit-transform: translate(2000px);
  }
}

.slide-out {
  animation: slide-out 10s forwards;
  -webkit-animation: slide-out 10s forwards;
}

@keyframes slide-out {
  0% {
    transform: translateX(2000px);
  }

  100% {
    transform: translateX(-500px, 500px);
  }
}

@-webkit-keyframes slide-out {
  0% {
    -webkit-transform: translateX(2000px);
  }

  100% {
    -webkit-transform: translateX(-500px, 500px);
  }
}